/* var */
/* :root {
  --logo-black-color: #000000;
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --contact-color: rgba(255, 255, 255, 0.6);
  --main-background-color: #e5e5e5;
  --banner-color: #ffffff;
  --hower-bg-buttom-color: #188ce8;
  --buttom-bg: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --border-solid: #ececec;
  --border-solid-secondary: #eeeeee;
  --our-team-bg: #f5f4fa;
  --icon-color: #afb1b8;
} */

/* body */
/* body {
  font-family: roboto, sans-serif;
  color: var(--main-color);
  background-color: var(--banner-color);
} */
/* h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
} */
/* img {
  display: block;
} */
/* .container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  width: 1200px;
} */
/* .section {
  padding: 94px 0;
} */
/* .list {
  list-style: none;
} */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
} */

/* header */
/* .header {
  border-bottom: 1px solid var(--border-solid);
}
.header-nav {
  display: flex;
  align-items: center;
}
.head-container {
  display: flex;
} */

/* logo */
/* .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo--blue {
  color: var(--accent-color);
}

.logo--black {
  color: var(--logo-black-color);
}
.logo--white {
  color: var(--banner-color);
} */
/* .nav-list {
  display: flex;
}
.nav-list .nav-list__item + .nav-list__item {
  margin-left: 50px;
}
.nav-list__item:first-child {
  margin-left: 93px;
}

.nav-list__link {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 32px 0px 0px 0px;
}

.current::after {
  display: flex;
  border-bottom: 4px solid var(--accent-color);
  content: "";
  margin-top: 28px;
  color: var(--accent-color);
  padding: 0;
  width: 100%;
  border-radius: 2px;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--accent-color);
}

.contact__mail-tell :hover .service-icon {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.contact__mail-tell {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-color);
  margin-left: auto;
  display: flex;
  fill: var(--secondary-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container .contact__mail-tell + .contact__mail-tell {
  margin-left: 50px;
}

.contact__header-icon {
  margin-right: 10px;
  padding: 0;
  display: inline-block;
  width: 12px;
  /* fill: var(--secondary-color) */
/* }
.contact__mail-tell:hover,
.contact__mail-tell:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}  */

/* .header-container {
  display: flex;
  margin: 0 auto;
  justify-content: end;
} */

/* main */

/* banner section */

/* .banner-section {
  background-color: var(--secondary-bg-color);
  background: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: auto auto;
}
.banner-section {
  color: var(--banner-color);
  font-weight: 900;
  padding-top: 200px;
  margin-bottom: 30px;
}
.banner-section__title {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--banner-color);
  margin-bottom: 40px;
}
.banner-section__pad-but {
  padding-bottom: 200px;
}
.buttom {
  color: var(--banner-color);
  background: var(--accent-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  margin: auto;
  padding: 6px 32px;
  transition-property: background-color;
  transition-duration: 25ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-radius: 4px;
}

.buttom:focus,
.buttom:hover {
  background: var(--hower-bg-buttom-color);
}

.section__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
} */

/* features*/

/* .features {
  display: flex;
}
.features__item {
  flex-basis: calc((100% / 4) - 30px);
}
.features .features__item + .features__item {
  margin-left: 30px;
}
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__paragraph {
  color: var(--secondary-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.featires-icon-list {
  display: flex;
  align-items: baseline;
  flex-basis: calc((100% / 4)-30);
}

.featires-icon-list__item {
  background-color: var(--buttom-bg);
  width: 262px;
  height: 120px;
}
.featires-icon-list__item + .featires-icon-list__item {
  margin-left: 30px;
  margin-bottom: 30px;
}
.featires-icon-list__icon {
  margin-top: 25px;
  margin-left: 0;
  width: 70px;
  height: 70px;
  margin-left: 100px;
} */

/* whot we do section */

/* .whotwedo-section {
  padding-top: 0px;
}
.whotwedo-list {
  display: flex;
  flex-basis: calc((100% / 3) - 30px);
}

.whotwedo-list__img {
  position: relative;
  display: block;
}
.wwd > img {
  display: block;
}
.whotwedo-list-item + .whotwedo-list-item {
  margin-left: 30px;
}
.wwd-text li {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 142px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--banner-color);
}
.whotwedo-list__text {
  position: absolute;
  top: 76%;
  right: 0;
  min-width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1, 142px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--banner-color);
} */

/* our team */

/* .ourtaem-section {
  background-color: var(--our-team-bg);
}
.our-team-list {
  display: flex;
  flex-basis: calc((100% / 4)-30px);
}
.our-team__item {
  background-color: var(--banner-color);
}
.our-team-list .our-team__item + .our-team__item {
  margin-left: 30px;
}
.our-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;

  margin: 30px 0px 10px 0px;
}
.our-team__paragraph {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-align: center;
}
.our-team__contact {
  display: flex;
  justify-content: center;
  margin: 16px 32px 30px 32px;
  align-items: center;

  border-radius: 50%;
}
.our-team__social {
  fill: var(--icon-color);
  height: 44px;
  width: 44px;
}

.our-team__social {
  display: flex;
  align-content: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__socialour-team__social + .our-team__social {
  margin-left: 10px;
}

.link-social-icon {
  display: flex;
  align-content: center;
  justify-content: center;
}
.our-team__social:hover {
  display: flex;
  background-color: var(--accent-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.our-team__icon {
  margin: auto;
  fill: var(--icon-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__social:hover .our-team__icon {
  fill: var(--banner-color);
} */

/* clients */

/* .clients {
  display: flex;
  justify-content: center;
}

.client-logo + .client-logo {
  margin-right: 30px;
}
.clients__icon {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: block;
  padding: 16px 32px;
  fill: #afb1b8;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__company + .clients__company {
  margin-left: 30px;
}
.clients__company:hover > .clients__icon {
  border: var(--accent-color) solid 1px;
  fill: var(--accent-color);
  cursor: pointer;
} */
/* footer */

/* .footer-logo {
  display: block;
  margin: 0px 0 20px 0;
}

.footer__address {
  color: var(--banner-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;

  display: block;
  margin-bottom: 9px;
}

.footer__mail {
  margin-bottom: 9px;
}

.footer__tell-mail {
  color: var(--contact-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;

  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__tell-mail:hover,
.footer__tell-mail:focus {
  color: var(--accent-color);
}
.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__join {
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  color: var(--banner-color);
  margin-bottom: 20px;
}
.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--banner-color);
  margin: 10px;
  }
.social-list__item:hover {
  background-color: var(--hower-bg-buttom-color);
}
.footer > .container {
  display: flex;
  flex-basis: calc((100% / 3)-15px);
  align-items: center;
}
.social-list {
  display: flex;
}
.footer__contact {
  margin-right: 70px;
}
.social-list__item {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__item {
  margin-right: 10px;
}
.sub-name {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--banner-color);
  margin-left: 93px;
  margin-bottom: 20px;
}
.sub-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  color: var(--banner-color);
  padding-left: 15px;
}
.sub-buttom {
  display: flex;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  color: var(--banner-color);
  align-items: center;
  margin-left: 20px;
  padding-left: 20px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-buttom > .icon {
  margin-left: 20px;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/btm-telegram.svg);
  background-size: contain;
  margin-right: 28px;
}
.subscripe {
  display: flex;
  margin-left: 93px;
}
.sub-buttom:hover {
  background-color: var(--hower-bg-buttom-color);
} */
/* main portfolio */

/* .filter-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-nav .buttom-list + .buttom-list {
  margin-left: 8px;
}
.filter-butom {
  cursor: pointer;
  font-family: inherit;
  background-color: var(--buttom-bg);
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  display: block;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-butom:hover,
.filter-butom:focus {
  background-color: var(--accent-color);
  color: var(--banner-color);
}

.spec__title {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  padding-left: 24px;
  margin: 20px 0 4px 0;
}

.spec__specilization {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  padding-left: 24px;
}
.spec__cards {
  outline: 1px solid var(--border-solid-secondary);
}
.spec {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.border-item {
  border: 10px #000000;
}

.spec__cards {
  flex-basis: calc((100 / 3)-30px);
  margin-left: 30px;
  margin-top: 30px;
}
.spec__info {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--banner-color);
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  height: 100%;
  transform: translatey(100%);

  transition-property: transform(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.spec__cart-wrap {
  position: relative;
  overflow: hidden;
}
.spec__cards:hover .spec__info {
  transform: translatey(0%);
} */

/* modal */
/* .backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--banner-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 2px var(--secondary-bg-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal__close-buttom {
  background-image: url(../images/Vector.svg);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 11px, 11px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  background-position: center;
  background-color: transparent;
  top: 8px;
  right: 8px;
}
.backdrop.js-hidden {
  opacity: o;
  pointer-events: none;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal__title {
  margin: 40px 40px 12px 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.modal__input-text {
  display: block;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}
.modal__label-container {
  margin-left: 40px;
  margin-bottom: 20px;
  margin-right: 40px;
}
.modal__check-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.modal__check-text > a {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: line;
  color: var(--accent-color);
}

.buttom-modal {
  display: block;
  height: 50px;
  width: 200px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  color: var(--banner-color);
  background-color: var(--accent-color);
  margin: 30px auto 40px auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.buttom-modal:hover,
.buttom-modal:focus {
  background-color: var(--hower-bg-buttom-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-solid;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.model__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  display: block;
  padding: 12px 16px;
  transition-property: border-solid;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-wrap {
  position: relative;
}
.model__comment::placeholder {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  padding: 12px 16px;

  color: rgba(117, 117, 117, 0.5);
}
.modal__input:focus {
  border: solid var(--accent-color);
}

.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}
.modal__check-text {
  display: flex;
  align-items: center;
}
.modal__check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 2px solid #090b13;
  border-radius: 2px;
  margin-right: 7px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.phantom-check {
  fill: var(--banner-color);
}
.phantome-input:checked + .modal__check-text span {
  fill: var(--accent-color);
  border: none;
  background-color: var(--hower-bg-buttom-color);
}
.model__comment:focus {
  border-color: var(--accent-color);
} */
