@import "../utils/variables";
.banner-section {
  background-color: $secondary-bg-color;
  background: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/Header-img-min.jpg);
  @media (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/mobile/Heade2x-min.jpg);
    }
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 480px;
  height: auto;
  margin: auto auto;
  display: block;
  color: $banner-color;
  font-weight: 900;

  // padding-top: 200px;
  // margin-bottom: 30px;
  @media screen and(min-width:480px) {
    & {
      max-width: 1200px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/tablet/header.jpg);
    }
    @media (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(/images/tablet/Header2x-min.jpg);
      }
    }
  }

  @media screen and(min-width:768px) {
    max-width: 1600px;
    & {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/desktop/hero-min.jpg);
    }
    @media (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(/images/desktop/hero2x-min.jpg);
      }
    }
  }

  &__title {
    font-size: 26px;
    // font-size: 44px;
    // line-height: 1.36;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $banner-color;
    margin-bottom: 30px;
    padding-top: 118px;
  }
  &__pad-but {
    // padding-bottom: 200px;
    padding-bottom: 118px;
  }
  @media screen and (min-widht: 480px) {
  }
}

.section__title {
  font-size: 28px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
