@import "../utils/variables";
.header {
  border-bottom: 1px solid $border-solid;
  &-nav {
    display: flex;
    align-items: center;
  }
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav-list {
  // display: flex;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  &__item:first-child {
    margin-left: 93px;
  }
  &__link {
    color: $main-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding: 32px 0px 0px 0px;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__item {
    margin-left: 50px;
  }
}

.current::after {
  display: flex;
  border-bottom: 4px solid $accent-color;
  content: "";
  margin-top: 28px;
  color: $accent-color;
  padding: 0;
  width: 100%;
  border-radius: 2px;
}

.contact {
  // display: flex;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
  display: none;
  align-items: center;
  margin-left: auto;
  &__mail-tell {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
      margin-right: auto;
      margin-left: 0;
      @media screen and (min-width: 1200px) {
        margin-bottom: 0;
      }
    }
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $secondary-color;
    margin-left: auto;
    display: flex;
    fill: $secondary-color;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    :hover .service-icon {
      fill: $accent-color;
      color: $accent-color;
    }
  }
  &__mail-tell:hover,
  &__mail-tell:focus {
    color: $accent-color;
    fill: $accent-color;
  }
  &__icon {
    margin-right: 10px;
    padding: 0;
    display: inline-block;
    width: 12px;
  }
  @media screen and (min-width: 1200px) {
    &__mail-tell + &__mail-tell {
      margin-left: 50px;
    }
  }
}

.header-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.open-buttom {
  position: relative;
  cursor: pointer;
  border: none;
  display: block;
  background-color: #fff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.close-buttom-header {
  width: 19px;
  height: 19px;
  border: none;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  background-position: center;
  background-color: transparent;
  top: -30px;
  right: 20px;
  cursor: pointer;
}

.menu-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18px;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 32px 0px 0px 0px;

  color: $main-color;
}
.menu-list {
  &__item {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
    &:hover .menu-link {
      color: $accent-color;
    }
  }
}
.menu-list__item {
  &:not(:last-child) {
    margin-bottom: 35px;
  }
  &:hover .menu-link,
  :focus .meni-link {
    color: $accent-color;
  }
}
.header-menu {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  background-color: $banner-color;
  padding: 48px 0 48px 25px;
  & > .container-menu {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.menu-contact {
  &__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $accent-color;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.menu-contact__link-big-small {
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $main-color;
}
.menu-contact__link-big {
  color: $accent-color;
}
.menu-contact {
  margin-bottom: 64px;
}
.header-menu__social {
  display: flex;
  flex-wrap: wrap;
}
.header-menu__soc-side {
  &:not(:last-child) {
    margin-right: 10px;
    display: flex;
    &::after {
      content: "";
      height: 100%;
      width: 1px;
      background-color: rgba(33, 33, 33, 0.2);
      margin-left: 10px;
      display: block;
    }
  }
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
.open-icon-buttom {
  width: 24px;
  height: 18px;
  border: none;
  &:hover,
  :focus {
    fill: $accent-color;
  }
}
.close-menu {
  height: 19px;
  width: 19px;
  display: block;
  &:hover,
  :focus {
    fill: $accent-color;
  }
}
