@import "../utils/variables";
.filter-nav {
  display: flex;
  flex-wrap: wrap;

  justify-content: start;
  @media screen and(min-width:768px) {
    justify-content: center;
  }
  margin-bottom: 50px;
}
.buttom-list + .buttom-list {
  margin-left: 8px;
}

.filter-butom {
  cursor: pointer;
  font-family: inherit;
  background-color: $buttom-bg;
  color: $main-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  display: block;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &focus {
    background-color: $accent-color;
    color: $banner-color;
  }
}

.spec__title {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  padding-left: 24px;
  margin: 20px 0 4px 0;
}

.spec__specilization {
  color: $secondary-color;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  padding-left: 24px;
}

.spec {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  // display: flex;
  // flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  &__cards {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% / 2) - 30px);
    }
    @media screen and(min-width:1200px) {
      flex-basis: calc((100% / 3) - 30px);
    }
    outline: 1px solid $border-solid-secondary;
    // flex-basis: calc((100 / 3)-30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  &__info {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: $banner-color;
    background: rgba(33, 150, 243, 0.9);
    position: absolute;
    padding: 63px 24px;
    top: 0;
    left: 0;
    height: 100%;
    transform: translatey(100%);

    transition-property: transform(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__cart-wrap {
    position: relative;
    overflow: hidden;
  }
  &__cards:hover .spec__info {
    transform: translatey(0%);
  }
}
.border-item {
  border: 10px #000000;
}
