@import "../utils/variables";
.whotwedo-section {
  padding-top: 0px;
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.whotwedo-list {
  display: flex;
  flex-basis: calc((100% / 3) - 30px);
  &__img {
    position: relative;
    display: block;
  }
  &__text {
    position: absolute;
    top: 76%;
    right: 0;
    min-width: 370px;
    min-height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 142px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $banner-color;
  }
}

.whotwedo-list-item + .whotwedo-list-item {
  margin-left: 30px;
}
